*{
	box-sizing: border-box;
}

html, body{
	padding: 0;
	margin: 0;
}

.main{
	width: 100%;
	height: 100vh;
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.game{
	width: 640px;
	height: 480px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}